#chart-container {
    width: 100%;  /* Full width */
    height: 600px;  /* Increase height to 600px */
}
canvas {
    width: 100%;
    height: 100%;
}
.control-panel {
    margin: 20px;
}

.control-panel label {
    margin-right: 10px;
}
